.contem-text{
    padding: 90px 0 0 0;
    font-size: 15px;
}
.text h1{
    color: #fff;
    margin-top: 10px;
}
.text p{
    color: #fff;
    margin-top: 10px;
}

.redes{
    color: #7f5539;
    padding: 20px 0 0 80% ;
} 

.redes a{
    color: #7f5539;
    padding: 10px;
    margin-top: 5px;
}

#habilidades{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#habilidades2{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 24px;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #21201D;
    height: 200px;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.card h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    color: #fff;
    padding-top: 20px;
}

.card img.hover{
    display: none;
}

.card:hover > img.normal{
    display: none;
}

.card:hover > img.hover{
    display: block;
    transform: scale(1.1);
}

.card {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 5px;
}

  .card::before {
    position: absolute;
    background-color: rgba( 127, 85, 57, 0.8);
    color: #fff;
    content: 'Abrir projeto';
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    transform: translateY(100%);
    transition: transform 0.6s;
}
.card:hover::before {
    transform: translateY(0%);
}

.cotem h1{
    color: #fff;
    margin-top: 10px;
}

.titulo{
    font-size: 26px;
    padding-left: 39%;
    padding-bottom: 10px;
}
