@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body{
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-image: url(../imgs/1.png);
}

.background{ 
    background-position: center;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;

}

.cabecalho-link{
    display: flex;
    gap: 5rem;
    font-weight: 500;
    cursor: pointer;
}

.cabecalho-link a {
    color: #fff;
    font-size: 18px;
}
.cabecalho-link a:hover{
    color: #7f5539;
    transition: 0.3s all;

}

.logo{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 2px solid #7f5539;
    color: #7f5539;
    border-radius:50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}
button{
    color: #7f5539;
    background: transparent;
    border: solid 1px #7f5539;
    padding: 5px;
    border-radius: 15px;
    font-size: 15px;
    width: 150px;
    cursor: pointer;
    
}

button:hover{
    background-color: #7f5539;
    color: #fff;
    transition: 0.3s;
}

.contem-text{
    padding: 90px 0 0 0;
    font-size: 15px;
}
.text h1{
    color: #fff;
    margin-top: 10px;
}
.text p{
    color: #fff;
    margin-top: 10px;
}

.redes{
    color: #7f5539;
    padding: 20px 0 0 80% ;
} 

.redes a{
    color: #7f5539;
    padding: 10px;
    margin-top: 5px;
}

#habilidades{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#habilidades2{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 24px;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #21201D;
    height: 200px;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.card h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    color: #fff;
    padding-top: 20px;
}

.card img.hover{
    display: none;
}

.card:hover > img.normal{
    display: none;
}

.card:hover > img.hover{
    display: block;
    transform: scale(1.1);
}

.card {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 5px;
}

  .card::before {
    position: absolute;
    background-color: rgba( 127, 85, 57, 0.8);
    color: #fff;
    content: 'Abrir projeto';
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    transform: translateY(100%);
    transition: transform 0.6s;
}
.card:hover::before {
    transform: translateY(0%);
}

.cotem h1{
    color: #fff;
    margin-top: 10px;
}

.titulo{
    font-size: 26px;
    padding-left: 39%;
    padding-bottom: 10px;
}
