@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body{
    overflow: hidden;
}

.background{ 
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-image: url(../imgs/1.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.cabecalho-link{
    display: flex;
    gap: 5rem;
    font-weight: 500;
    cursor: pointer;
}

.cabecalho-link a {
    color: #fff;
    font-size: 1.125rem;
}
.cabecalho-link a:hover{
    color: #7f5539;
    transition: 0.3s all;

}

.logo{
    height: 2.5rem;
    width: 2.5rem;
    background: transparent;
    border: 0.125rem solid #7f5539;
    color: #7f5539;
    border-radius:50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.813rem;
    cursor: pointer;
}
button{
    color: #7f5539;
    background: transparent;
    border: solid 1px #7f5539;
    padding: 5px;
    border-radius: 15px;
    font-size: 15px;
    width: 150px;
    cursor: pointer;
    
}

button:hover{
    background-color: #7f5539;
    color: #fff;
    transition: 0.3s;
}

.contem-texto{
    padding: 180px 0 0 450px;
    font-size: 25px;
}

.texto h3{
    color: #fff;
    font-size: 18px;
}

.texto h1{
    color: #fff;
}

.texto span{
    color: #7f5539;
}

.texto p{
color: #fff;
font-size: 13px;
font-weight: 300;
margin-top: 10px;
}

.rede-sociais a{
    color: #7f5539;
    padding: 10px;
    margin-top: 5px;

}

.email:hover{
    background-color: #7f5539;
    color: #fff;
    transition: 0.3s;

}

