
.contem-texto{
    padding: 11.25rem 0 0 28.125rem;
    font-size: 1.563rem;
}

.texto h3{
    color: #fff;
    font-size: 1.125rem;
}

.texto h1{
    color: #fff;
}

.texto span{
    color: #7f5539;
}

.texto p{
color: #fff;
font-size: 0.813rem;
font-weight: 300;
margin-top: 0.625rem;
}

.rede-sociais a{
    color: #7f5539;
    padding: 0.625rem;
    margin-top: 5rem;

}

.email:hover{
    background-color: #7f5539;
    color: #fff;
    transition: 0.3s;

}

